
.card{
	width: 18rem; 
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
    left: 20%;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Tạo hiệu ứng bóng đổ khi rê chuột vào */
  cursor: pointer; /* Con trỏ biến thành hình mũi tên trỏ */
}


.container{
    text-align: center;
}
.table {
    border-collapse: collapse; 
    width: 100%; 
    
  } 
  
  .table th,
  .table td {
    border: 1px solid #ddd; 
    padding: 8px; 
  }
